.main-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  /* max-width: 1000px;   */
}

.scroll-outer {
  /* height: 100%; */
}

.section-name {
  max-width: 140px;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
}

.step-section.active .section-name {
  border-bottom: 2px solid #d2b356;
  font-size: 15px;
  font-weight: ;
}

.card-container {
  height: 100%;
  background: #b4b1ba;
}

.card-container h3 {
  padding: 25px;
}

.scroll-container {
  max-width: 1200px;
  top: 5%;
  right: 10%;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 9999;
  background-color: #6f697d;
  opacity: 0.7;
}

.scroll-container:hover {
  opacity: 1;
}

.step-section {
  padding: 8px;
  background-color: cream;
  justify-content: flex-start;
}

.vertical-nav {
  flex: 3;
}

#banner {
  height: 120vh;
}
#savebees-content {
  background: url("../assets/images/bees.png") no-repeat center top;
  background-size: cover;
  height: 200vh;
}
