<!-- <div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s" > -->
<!-- <div
    class="top-border wow fadeInDown animated"
    style="visibility: visible; animation-name: fadeInDown"
  ></div>
  <div
    class="right-border wow fadeInRight animated"
    style="visibility: visible; animation-name: fadeInRight"
  ></div>
  <div
    class="bottom-border wow fadeInUp animated"
    style="visibility: visible; animation-name: fadeInUp"
  ></div>
  <div
    class="left-border wow fadeInLeft animated"
    style="visibility: visible; animation-name: fadeInLeft"
  ></div>
</div> -->
<!--Main Content Area-->
<div class="main-container">
  <div class="scroll-container scroll-container-expand-lg shadow-none">
    <!-- Brand -->
    <a
      class="navbar-brand font-weight-bolder ms-sm-3"
      href="https://www.bubblebees-nft.com"
      target="_blank"
      rel="noreferrer"
    >
      <img alt="logo" src="../assets/images/logo.png"
    /></a>
    <div class="navbar">
      <div class="navbar-nav">
        <!-- Home -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection == 1 }"
          pageScroll
          (click)="scrollTo(home, 1)"
        >
          <div class="vertical-nav">
            <div class="section-name">Home</div>
          </div>
        </div>

        <!-- Roadmap -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection == 2 }"
          pageScroll
          (click)="scrollTo(roadmap, 2)"
        >
          <div class="vertical-nav">
            <div class="section-name">Roadmap</div>
          </div>
        </div>

        <!-- Team -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection == 3 }"
          pageScroll
          (click)="scrollTo(team, 3)"
        >
          <div class="vertical-nav">
            <div class="section-name">Team</div>
          </div>
        </div>

        <!--Our Story -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection == 4 }"
          pageScroll
          (click)="scrollTo(savethebees, 4)"
        >
          <div class="vertical-nav">
            <div class="section-name">Our Story</div>
          </div>
        </div>

        <!-- Telegram -->
        <!-- <div class="step-media">
          <div class="social-icon">
            <a
              href="https://"
              class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
              target="_blank"
              title="Telegram"
              ><i class="fa fa-telegram fa-1x"></i
            ></a>
          </div>
        </div> -->

        <!-- Twitter -->
        <div class="step-media">
          <div class="social-icon">
            <a
              target="_blank"
              title="Twitter"
              href="https://twitter.com/Bubblebees_NFT"
            >
              <i class="fa fa-twitter fa-1x"></i>
            </a>
          </div>
        </div>

        <!-- Instagram -->
        <div class="step-media">
          <div class="social-icon">
            <a
              href="https:www.instagram.com/bubblebeesnft"
              class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
              target="_blank"
              title="Instagram"
              ><i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- Discord -->
        <div class="step-media">
          <div class="social-icon">
            <a
              href="http://www.discord.com/BubblebeesNFT"
              target="_blank"
              title="Discord"
            >
              <fa-icon [icon]="['fab', 'discord']"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="1" #home class="scroll-outer">
    <div class="card-container">
      <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">
          <div class="col-38">
            <div class="section-heading">
              <h1>{{ header.heading }}</h1>
              <h4>{{ header.headingtext }}</h4>

              <div class="banner-media">
                <!-- Telegram -->
                <!-- <div class="social-icon">
                  <a
                    href="https://"
                    class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
                    target="_blank"
                    title="Telegram"
                    ><i class="fa fa-telegram fa-2x"></i
                  ></a>
                </div> -->

                <!-- Tweeter -->
                <div class="social-icon">
                  <a
                    target="_blank"
                    title="Twitter"
                    href="https://twitter.com/Bubblebees_NFT"
                  >
                    <i class="fa fa-twitter fa-2x"></i>
                  </a>
                </div>

                <!-- Instagram -->
                <div class="social-icon">
                  <a
                    href="https:www.instagram.com/bubblebeesnft"
                    class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
                    target="_blank"
                    title="Instagram"
                    ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </a>
                </div>

                <!-- Discord -->
                <div class="social-icon">
                  <a
                    href="https://www.discord.com/BubblebeesNFT"
                    class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
                    target="_blank"
                    title="Discord"
                  >
                    <fa-icon [icon]="['fab', 'discord']" size="2x"></fa-icon>
                  </a>
                </div>
              </div>
            </div>

            <!--Call to Action-->
            <a href="{{ header.buttonlink }}" class="button">{{
              header.buttontext
            }}</a>
            <!--End Call to Action-->
          </div>
        </div>
        <!--End of Row-->
      </header>
    </div>
  </div>

  <div id="2" #roadmap class="scroll-outer">
    <div class="card-container">
      <!--roadmap Tables-->
      <section
        id="roadmap-content"
        class="secondary-color text-center scrollto clearfix"
      >
        <div class="row clearfix">
          <div class="section-heading">
            <h2 class="section-title">Roadmap 2022</h2>
          </div>

          <!--roadmap Block-->
          <div class="roadmap-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="roadmap-block-content">
              <h3>[I] Wake Up</h3>
              <!-- <p class="roadmap-sub">Wake Up</p> -->
              <ul>
                <li>
                  After a long winter the bublebees woke up in a different
                  world. The distruction of nature left them disordered and
                  unsettled. Our mission is to set up a place where they can
                  rebuild what was lost.
                </li>
                <li>Website launch</li>
                <li>
                  Partnership with association protecting bees, helping projects
                  that connects nature, culture and customs
                </li>
                <li>Competitions, recompensating community</li>
                <li>Launch of limited edition BlubbleBees Nfts</li>
                <li>First 1000 Common, Rare and Super rare colony of bees</li>
              </ul>
              <a href="#" class="button">MINT BEES</a>
            </div>
          </div>

          <div
            class="roadmap-block featured col-3 wow fadeInUp"
            data-wow-delay="0.6s"
          >
            <div class="roadmap-block-content">
              <h3>[II] Reconstruction</h3>
              <!-- <p class="roadmap-sub">Reconstruction</p> -->
              <ul>
                <li>
                  The community now have the resources to build their hive. They
                  organize and work hard to create their homes.
                </li>
                <li>Launch of second edition</li>
                <li>Collection of 1000 nfts</li>
                <li>Community rewards</li>
                <li>Bring bees and habitats into the virtual world</li>
                <li>Engage, analyze and scale our community with Zealy</li>
                <li>Involve more partners into our vision</li>
                <li>More to come ...</li>
              </ul>
              <a href="#" class="button">MINT BEES</a>
            </div>
          </div>

          <div class="roadmap-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="roadmap-block-content">
              <h3>[III] Thrive</h3>
              <!-- <p class="roadmap-sub">Thrive</p> -->
              <ul>
                <li>
                  The bublebees had overcome their threat, the habitat is
                  growing and they happily return to their buzzing glory.
                </li>
                <li>Release last collection of 1000 Nfts</li>
                <li>Virtual World of bees</li>
                <li>VR Experiences</li>
                <li>
                  Taking further the collaboration with our partners sustaining
                  nature and habitats
                </li>
                <li>Launch of BubbleBees marchandise</li>
                <li>More to come ...</li>
              </ul>
              <a href="#" disbled="true" class="button">MINT BEES</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div id="3" #team class="scroll-outer">
    <div class="card-container">
      <div
        id="team-content"
        class="scrollto text-center"
        data-enllax-ratio=".2"
      >
        <div class="row clearfix">
          <div class="section-heading">
            <h2 class="section-title">Meet our team</h2>
          </div>

          <!--Team composition-->
          <div class="test-container">
            <blockquote class="col-2 testimonial classic">
              <img
                class="avatar"
                src="../assets/images/avatar-design.png"
                alt="User"
              />
              <q
                >My goal as a designer for this NFT project is to create digital
                assets that are not only visually appealing but also valuable
                and meaningful to our audience. I believe that NFTs have the
                potential to change the way we think about art, ownership, and
                value, and I'm thrilled to be part of a team that's at the
                forefront of this exciting new field.</q
              >
              <footer>Irina Bogdan - Designer</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->

            <blockquote class="col-2 testimonial classic">
              <img
                class="avatar"
                src="../assets/images/avatar-dev.png"
                alt="User"
              />
              <q
                >Responsible for developing, deploying, securing and managing
                the technical infrastructure that supports the creation and
                storage of unique digital assets on a blockchain.</q
              >
              <footer>Florina Clapon - IT specialist</footer>
            </blockquote>
          </div>
          <!-- End of Testimonial-->
        </div>
      </div>
      <!--End of Testimonials-->
    </div>
  </div>

  <div id="4" #savethebees class="scroll-outer">
    <div class="card-container">
      <div
        id="savebees-content"
        class="scrollto clearfix text-center"
        data-enllax-ratio=".5"
      >
        <div class="row clearfix">
          <div class="section-heading">
            <h2 class="section-title">Our Story</h2>
          </div>
        </div>
        <!-- Our Story content -->
        <div id="right-content" class="row clearfix">
          <div class="col-61">
            <div class="section-heading">
              <div class="bees-content">
                <p class="p1">
                  Our collection reveals 3 phases of bee’s evolution, each phase
                  containing 1000 Nfts. Each NFT in the BubbleBees collection
                  represents a unique artistic interpretation of bees. The
                  collection features are crafted by passionate members about
                  both art and environmental conservation.
                </p>
              
                <p class="p1">
                  The NFTs in this project are more than just digital artworks.
                  They serve as a bridge between the virtual and physical
                  worlds, carrying a mission to make a tangible impact on bee
                  preservation. A portion of the proceeds from each NFT sale
                  will be donated to organizations dedicated to bee
                  conservation, such as research institutes, beekeeping
                  associations, environmental nonprofits, and nature
                  initiatives.
                </p>
                <p class="p1">
                  The BubbleBees NFTs offer unique benefits and experiences for
                  their owners, these include:
                </p>

                <div class="container">
                  <div class="box">
                    <h4>Exclusive Benefits</h4>
                    <p>
                      NFT owners gain access to limited-edition physical
                      merchandise, special discounts, interactive experiences,
                      and many others to come. They become part of a vibrant
                      community that shares a passion for art and bee
                      conservation.
                    </p>
                    </div>
                  <div class="box">
                    <h4>Limited Editions</h4>
                    <p>
                      Each NFT is part of a limited edition series, ensuring its
                      scarcity and collectible value. Owning a piece from the
                      BubbleBees NFTs means being part of a select group of
                      individuals who appreciate the importance of bees and
                      support their protection.
                    </p>
                  </div>
                  <div class="box">
                    <h4>Digital and Physical Artifacts</h4>
                    <p>
                      Some NFTs in the collection come bundled with additional
                      perks, such as high-resolution digital versions of the
                      artwork for personal use, and the possibility to receive a
                      physical art print of the NFT, enhancing the connection
                      between the digital and physical realms.
                    </p>
                  </div>
                </div>

                <p class="p1">
                  The BubbleBees is not only an NFT collection but a movement
                  that strives to educate, inspire, and mobilize individuals to
                  take action for bee preservation. By combining art,
                  technology, and philanthropy, this project raises awareness
                  about the crucial role bees play in our ecosystem, encouraging
                  a deeper appreciation for the intricate harmony of nature.
                </p>
              </div>
            </div>
          </div>
        </div>
        <footer id="landing-footer" class="clearfix">
          <div class="row clearfix">
            <p id="copyright" class="col-2">
              Made with love by BubbleBees team
            </p>
        
            <!--Social Icons in Footer-->
            <div class="col-2 social-icons" id="footer-social app-social">
              <!-- social icons here -->
            </div>
            <!--End of Social Icons in Footer-->
          </div>
        </footer>
        <!-- End Our Story content -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
