<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div
    class="top-border wow fadeInDown animated"
    style="visibility: visible; animation-name: fadeInDown"
  ></div>
  <div
    class="right-border wow fadeInRight animated"
    style="visibility: visible; animation-name: fadeInRight"
  ></div>
  <div
    class="bottom-border wow fadeInUp animated"
    style="visibility: visible; animation-name: fadeInUp"
  ></div>
  <div
    class="left-border wow fadeInLeft animated"
    style="visibility: visible; animation-name: fadeInLeft"
  ></div>
</div>
<!--Main Content Area-->
<div class="main-container">
  <div class="scroll-container scroll-container-expand-lg shadow-none">
    <!-- Brand -->
    <a
      class="navbar-brand font-weight-bolder ms-sm-3"
      href="https://www.bublebees-nfts.com"
      target="_blank"
      rel="noreferrer"
    >
      <img alt="logo" src="../assets/images/logo.png"
    /></a>
    <div class="navbar">
      <div class="navbar-nav">
        <!-- Home -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection === 1 }"
          pageScroll
          (click)="scrollTo(home, 1)"
        >
          <div class="vertical-nav">
            <div class="section-name">Home</div>
          </div>
        </div>

        <!-- Roadmap -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection === 3 }"
          pageScroll
          (click)="scrollTo(roadmap, 3)"
        >
          <div class="vertical-nav">
            <div class="section-name">Roadmap</div>
          </div>
        </div>

        <!-- Team -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection === 2 }"
          pageScroll
          (click)="scrollTo(team, 2)"
        >
          <div class="vertical-nav">
            <div class="section-name">Team</div>
          </div>
        </div>
        
        <!-- Save the bees -->
        <div
          class="step-section"
          [ngClass]="{ active: activeSection === 4 }"
          pageScroll
          (click)="scrollTo(savethebees, 4)"
        >
          <div class="vertical-nav">
            <div class="section-name">Save the Bees</div>
          </div>
        </div>

        <!-- Telegram -->
        <div class="step-media">
          <div class="social-icon">
            <a
              href="https://"
              class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
              target="_blank"
              title="Telegram"
              ><i class="fa fa-telegram fa-1x"></i
            ></a>
          </div>
        </div>

        <!-- Discord -->
        <div class="step-media">
          <div class="social-icon">
            <a href="https://www.youtube.com/" class="fa fa-discord"> </a>
            <a
              href="https://"
              class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
              target="_blank"
              title="Discord"
              class="fa fa-discord"
            ></a>
          </div>
        </div>
        <!-- Tweeter -->
        <div class="step-media">
          <div class="social-icon">
            <a
              target="_blank"
              title="Twitter"
              href="http://www.twitter.com/username"
            >
              <i class="fa fa-twitter fa-1x"></i>
            </a>
          </div>
        </div>

        <!-- Instagram -->
        <div class="step-media">
          <div class="social-icon">
            <a
              href="https://"
              class="text-dark text-uppercase text-lg mb-2 mb-lg-0"
              target="_blank"
              title="Instagram"
              ><i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #home class="scroll-outer">
    <div class="card-container">
      <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">
          <div class="col-38">
            <div class="section-heading">
              <h1>{{ header.heading }}</h1>
              <h4>{{ header.headingtext }}</h4>
              <h4>
                <label>Wake up </label>
                <label> Reconstruction </label>
                <label> Thrive </label>
              </h4>
            </div>

            <!--Call to Action-->
            <a href="{{ header.buttonlink }}" class="button">{{
              header.buttontext
            }}</a>
            <!--End Call to Action-->
          </div>
        </div>
        <!--End of Row-->
      </header>
    </div>
  </div>

  <div #roadmap class="scroll-outer">
    <div class="card-container">
      <!--roadmap Tables-->
      <section
        id="roadmap-content"
        class="secondary-color text-center scrollto clearfix"
      >
        <div class="row clearfix">
          <div class="section-heading">
            <h2 class="section-title">Roadmap 2022</h2>
          </div>

          <!--roadmap Block-->
          <div class="roadmap-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="roadmap-block-content">
              <h3>Wake Up</h3>
              <!-- <p class="roadmap-sub">Wake Up</p> -->
              <ul>
                <li>
                  After a long winter the bublebees woke up in a different
                  world. The distruction of nature left them disordered and
                  unsettled. Our mission is to set up a place where they can
                  rebuild what was lost.
                </li>
                <li>Launch of limited edition BlubbleBees Nfts</li>
                <li>First 1000 Common, Rare and Super rare colony of bees</li>
                <li>Website launch</li>
                <li>Partnership with association protecting bees</li>
                <li>Competitions, recompensating community</li>
              </ul>
              <a href="#" class="button">MINT BEES</a>
            </div>
          </div>

          <div
            class="roadmap-block featured col-3 wow fadeInUp"
            data-wow-delay="0.6s"
          >
            <div class="roadmap-block-content">
              <h3>Reconstruction</h3>
              <!-- <p class="roadmap-sub">Reconstruction</p> -->
              <ul>
                <li>
                  The community now have the resources to build their hive. They
                  organize and work hard to create their homes.                     


                </li>
                <li>Launch of second edition</li>
                <li>Collection of 1000 nfts</li>
                <li>Community rewards</li>
                <li> To be defined</li>
                <li>To be defined</li>
                <li>To be defined</li>
              </ul>
              <a href="#" class="button">MINT BEES</a>
            </div>
          </div>

          <div class="roadmap-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="roadmap-block-content">
              <h3>Thrive</h3>
              <!-- <p class="roadmap-sub">Thrive</p> -->
              <ul>
                <li>
                  The habitat is growing and everybody enjoys the happy new way
                  of life that is constantly expanding
                </li>
                <li>Release 1000 + Rare + Super rare colony</li>
                <li>Unlimited Extensions</li>
                <li>HD Video Tutorials</li>
                <li>Partnerships with beekeepers and honey producers</li>
                <li>Launch of BubbleBees lamp</li>
                <li>To be defined</li>
              </ul>
              <a href="#" disbled="true" class="button">MINT BEES</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div #team class="scroll-outer">
    <div class="card-container">
      <div
        id="team-content"
        class="scrollto text-center"
        data-enllax-ratio=".2"
      >
        <div class="row clearfix">
          <div class="section-heading">
            <h2 class="section-title">Meet our team</h2>
          </div>

          <!--Team composition-->
          <div class="test-container">
            <blockquote class="col-2 testimonial classic">
              <img
                class="avatar"
                src="../assets/images/avatar-design.png"
                alt="User"
              />
              <q
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua</q
              >
              <footer>Irina Bogdan - Designer</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->

            <blockquote class="col-2 testimonial classic">
              <img
                class="avatar"
                src="../assets/images/avatar-dev.png"
                alt="User"
              />
              <q
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua</q
              >
              <footer>Florina Clapon - IT specialist</footer>
            </blockquote>
          </div>
          <!-- End of Testimonial-->
        </div>
      </div>
      <!--End of Testimonials-->
    </div>
  </div>

  <div #savethebees class="scroll-outer">
    <div class="card-container">
      <div
        id="savebees-content"
        class="scrollto clearfix text-center"
        data-enllax-ratio=".5"
      >
        <div class="row clearfix">
          <div class="section-heading">
            <h2 class="section-title">Save the Bees</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
