<!--roadmap Tables-->
<section id="roadmap" class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h2 class="section-title">Roadmap 2022</h2>
    </div>

    <!--roadmap Block-->
    <div class="roadmap-block col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="roadmap-block-content">
        <h3>Q2 2022</h3>
        <p class="roadmap-sub">Under attack</p>
        <div class="roadmap">
          <div class="price">Picture here</div>
        </div>
        <ul>
          <li>Lunch of limited edition BlubbleBees under attack</li>
          <li>First 1000 + rare and super rare colony of bees</li>
          <li>Website launch</li>
          <li>Partnership with association protecting bees</li>
          <li>Competitions, recompensating community</li>
        </ul>
        <a href="#" class="button">MINT BEES</a>
      </div>
    </div>
    <!--End roadmap Block-->

    <!--roadmap Block-->
    <div
      class="roadmap-block featured col-3 wow fadeInUp"
      data-wow-delay="0.6s"
    >
      <div class="roadmap-block-content">
        <h3>Q3 2022</h3>
        <p class="roadmap-sub">Bees thrilled</p>
        <div class="roadmap">
          <div class="price">Picture here</div>
        </div>
        <ul>
          <li>15 Downloads</li>
          <li>5 Extensions</li>
          <li>Tutorials with Files</li>
          <li>Forum Support</li>
          <li>2 years free updates</li>
        </ul>
        <a href="#" class="button">MINT BEES</a>
      </div>
    </div>
    <!--End roadmap Block-->

    <!--roadmap Block-->
    <div class="roadmap-block col-3 wow fadeInUp" data-wow-delay="0.8s">
      <div class="roadmap-block-content">
        <h3>Q4 2022</h3>
        <p class="roadmap-sub">Bees next level</p>
        <div class="roadmap">
          <div class="price">Picture here</div>
        </div>
        <ul>
          <li>Release 1000 + rare + super rare colony</li>
          <li>Unlimited Extensions</li>
          <li>HD Video Tutorials</li>
          <li>Partnerships with beekeepers and honey producers </li>
          <li>Launch of BubbleBees lamp</li>
        </ul>
        <a href="#" disbled="true" class="button">MINT BEES</a>
      </div>
    </div>
    <!--End roadmap Block-->
  </div>
</section>
<!--End of roadmap Tables-->
