<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

    <div class="section-heading">
      <h2 class="section-title">Meet our team</h2>
    </div>

    <!--User Testimonial-->
    <blockquote class="col-2 testimonial classic">
      <img src="../assets/images/avatar-design.png" alt="User" />
      <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore
        et dolore magna aliqua</q>
      <footer>John Doe - Happy Customer</footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-2 testimonial classic">
      <img src="../assets/images/avatar-dev.png" alt="User" />
      <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore
        et dolore magna aliqua</q>
      <footer>Roslyn Doe - Happy Customer</footer>
    </blockquote>
    <!-- End of Testimonial-->
  </div>

</aside>
<!--End of Testimonials-->